.config/
node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
.next/
out/

# Env files
.env
.env.*

# VSCode
.vscode/

# Mac system files
.DS_Store

# Windows system files
Thumbs.db

# Backup files
*.bak
*.tmp

# Ignorar todos os arquivos .png em qualquer pasta
**/*.png
